@model WarsztatMVC.Models.Service

@{
    ViewData["Title"] = "Usuń Usługę";
}

<h1>Usuń usługę</h1>

<h3>Czy na pewno chcesz usunąć tę usługę?</h3>
<div>
    <h4>Szczegóły usługi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nazwa Usługi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Cena
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) PLN
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group mt-4">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Powrót</a>
        </div>
    </form>
</div>